<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Navigation Bar</title>
    <link rel="stylesheet" href="../css/navStyle.css">
    <link rel="stylesheet" media="screen" href="../css/particleStyle.css">
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body> 
    <div class="wrapper">
        <div>
        <header>
            <nav>
                <div class="menu-icon">
                    <i class="fa fa-bars fa-2z"></i>
                </div>
                <div class="logo">
                    LOGO
                </div>
                <div class="menu">
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Our Team</a></li>
                        <li><a href="#">Our Activities</a></li>
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="#">Join Us</a></li>
                    </ul>
                </div>
            </nav>
        </header>
        </div>
        <div>
            <div id="particles-js">
            </div>
            <div class="home-title text-center">
                    <!-- <img src="/images/logo.svg" height="250" alt="logo"> -->
                    <div class="slogan">
                    <h2 style="color: white; font-size: 1.75em;">
                    Building and fostering a vibrant Blockchain Community.
                    </h2>
                    <div>
                    </div>
                    </div>
                    </div>
        </div>
        <div class="content">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima impedit laborum nam iusto doloremque sit vitae quaerat, ut voluptatem architecto quod ipsa fugiat cumque debitis asperiores nulla! Facere ab consequuntur ratione reiciendis itaque quos a deserunt animi assumenda nobis in earum magni error expedita, deleniti eaque iusto fuga commodi labore.
            </p>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Exercitationem reiciendis sint expedita quam aspernatur enim veniam illo placeat quisquam architecto, ipsum magni consectetur. Atque, inventore a. Soluta laboriosam debitis aperiam.
            </p>
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut asperiores dolorem quam expedita ad placeat, repudiandae accusamus. Labore nemo officiis perspiciatis consequatur maxime voluptatem magnam unde odit eaque dignissimos? Accusantium, animi consequuntur. Unde consectetur pariatur tenetur labore vel earum, minima itaque repellat quam necessitatibus nulla veritatis saepe totam qui adipisci in enim cum sint voluptatibus vero dolore praesentium velit illum. Iste porro vero laudantium quaerat facere assumenda, vel, blanditiis similique perspiciatis modi impedit. Reiciendis aliquid dolorum ipsa ullam autem soluta vel minima beatae nisi quas magni doloribus consequuntur recusandae ratione dolore architecto necessitatibus, atque dolores incidunt temporibus laboriosam facilis. Esse!
            </p>
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut asperiores dolorem quam expedita ad placeat, repudiandae accusamus. Labore nemo officiis perspiciatis consequatur maxime voluptatem magnam unde odit eaque dignissimos? Accusantium, animi consequuntur. Unde consectetur pariatur tenetur labore vel earum, minima itaque repellat quam necessitatibus nulla veritatis saepe totam qui adipisci in enim cum sint voluptatibus vero dolore praesentium velit illum. Iste porro vero laudantium quaerat facere assumenda, vel, blanditiis similique perspiciatis modi impedit. Reiciendis aliquid dolorum ipsa ullam autem soluta vel minima beatae nisi quas magni doloribus consequuntur recusandae ratione dolore architecto necessitatibus, atque dolores incidunt temporibus laboriosam facilis. Esse!
            </p>
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut asperiores dolorem quam expedita ad placeat, repudiandae accusamus. Labore nemo officiis perspiciatis consequatur maxime voluptatem magnam unde odit eaque dignissimos? Accusantium, animi consequuntur. Unde consectetur pariatur tenetur labore vel earum, minima itaque repellat quam necessitatibus nulla veritatis saepe totam qui adipisci in enim cum sint voluptatibus vero dolore praesentium velit illum. Iste porro vero laudantium quaerat facere assumenda, vel, blanditiis similique perspiciatis modi impedit. Reiciendis aliquid dolorum ipsa ullam autem soluta vel minima beatae nisi quas magni doloribus consequuntur recusandae ratione dolore architecto necessitatibus, atque dolores incidunt temporibus laboriosam facilis. Esse!
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut asperiores dolorem quam expedita ad placeat, repudiandae accusamus. Labore nemo officiis perspiciatis consequatur maxime voluptatem magnam unde odit eaque dignissimos? Accusantium, animi consequuntur. Unde consectetur pariatur tenetur labore vel earum, minima itaque repellat quam necessitatibus nulla veritatis saepe totam qui adipisci in enim cum sint voluptatibus vero dolore praesentium velit illum. Iste porro vero laudantium quaerat facere assumenda, vel, blanditiis similique perspiciatis modi impedit. Reiciendis aliquid dolorum ipsa ullam autem soluta vel minima beatae nisi quas magni doloribus consequuntur recusandae ratione dolore architecto necessitatibus, atque dolores incidunt temporibus laboriosam facilis. Esse!
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut asperiores dolorem quam expedita ad placeat, repudiandae accusamus. Labore nemo officiis perspiciatis consequatur maxime voluptatem magnam unde odit eaque dignissimos? Accusantium, animi consequuntur. Unde consectetur pariatur tenetur labore vel earum, minima itaque repellat quam necessitatibus nulla veritatis saepe totam qui adipisci in enim cum sint voluptatibus vero dolore praesentium velit illum. Iste porro vero laudantium quaerat facere assumenda, vel, blanditiis similique perspiciatis modi impedit. Reiciendis aliquid dolorum ipsa ullam autem soluta vel minima beatae nisi quas magni doloribus consequuntur recusandae ratione dolore architecto necessitatibus, atque dolores incidunt temporibus laboriosam facilis. Esse!
            </p>
        </div>
    </div>
    <script src="../js/particles.js"></script>
     <script src="../js/app.js"></script>
    <script type="text/javascript">

        $(document).ready(function(){
            $(".menu-icon").on("click",function(){
                $("nav ul").toggleClass("showing")
            })
        });

        $(window).on("scroll", function(){
            if($(window).scrollTop()){
                $('nav').addClass('black');
            }
            else{
                $('nav').removeClass('black');
            }
        })
    </script>
</body>
</html>